<tr bgcolor=ffffff>
    <!-- The left-hand table cell should contain usage examples -->
    <td>
        {pagefamily-tagcloud}
    </td>
    <!-- The right-hand cell describes the macro and its available arguments -->
    <!-- and may include sample output -->
    <td>
        <p>Creates a tag cloud from labels on a page hierarchy.  Similar to the popular-labels macro, but using only the labels attached to descendant pages of a given root page.</p>
        <p>Parameters:</p>
        <ul>
        	<li>rootPage - the page to use as the root page of the search for labels. You can provide just a title, or use the [spaceKey]:[title] format. By default the current page is used as the root page.</li>
            <li>sort - sort labels by number of occurrences <em>(count)</em> or alphabetically by label and label type <em>(label)</em>. Default is label.</li>
            <li>reverse - reverse the order of the sorting, default is false</li>
            <li>includeRootPage - should the labels on the root page be included in the tag cloud or only the labels on descendant pages. Default is true. </li>
            <li>labelLink - custom url that will be used as the link behind each label. The token <em>%label$</em> will be replaced by the url encoded label.  By default if nothing is specified for this param the label will be linked to the default Confluence label action.</li>
        </ul> 
    </td>
</tr>